langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
streamlit
groq
beautifulsoup4
tiktoken
python-dotenv
requests
sentence-transformers
streamlit-mic-recorder
SpeechRecognition
tf-keras
